# Steam API Configuration
STEAM_API_KEY = "Your Steam Web API key"
STEAM_ID = "Your Steam 64-bit ID"

# API Endpoints
STEAM_API_ENDPOINT = "http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/"

# Request Parameters
DEFAULT_PARAMS=format=json&include_appinfo=1&include_played_free_games=1